<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <input id="fileInput" type="file" />
</div>

<script>
    $(function () {

        $("#fileInput").change(function () {
            var f = this.files[0];
            var reader = new FileReader();
            reader.onloadend = function (e) {
                var result = JSON.parse(this.result);
                console.log(result);
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/api/integration/integrate",
                    data: result,
                    success: function (data) {
                        console.log(data);
                        if (data.Zip) {
                            location.href = data.Zip;
                        }
                    },
                    error: function (error) {
                        jsonValue = jQuery.parseJSON(error.responseText);
                        //jError('An error has occurred while saving the new part source: ' + jsonValue, { TimeShown: 3000 });
                    }
                });
            };
            reader.readAsText(f);
        });

    });
    
</script>